<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Register</title>
</head>
<body>
    <div class="main-container">
    <div class="form">
        <form method="post" action="/register">
        <label>
            <span>Name</span>
            <input type="text" name="first_name" required/>
        </label>
         <label>
            <span>Last Name</span>
            <input type="text" name="last_name" required/>
        </label>
         <label>
            <span>Email</span>
            <input type="text" name="email" required/>
        </label>
        <label>
            <span>Password</span>
             <input type="password" name="password" required/>
        </label>
        <label>
            <span>Confirm Password</span>
             <input type="password" name="password2" required/>
        </label>
        <button type="submit">Register</button>
        <a class="reglink" href="/login.hbs">Back to login</a>
        </form>
    </div>
</div>
</body>
</html>